<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12" style="margin: auto;text-align: center;">

            <h5 class="card-title">{{user?.username}}</h5>
        <div  class="card-title" style="margin: auto;text-align: center;">
            <div style="width: 100px;height: 100px;border-radius: 50%;overflow: hidden;margin: auto;">
                <img   src="{{user?.imageUrl}}" style=" height: 100px;width: 100px; background-color: black;">
          
              </div>            <div *ngIf="showSpiner" style="max-height: 30px;max-width: 30px;;" >
                <mat-spinner  ></mat-spinner>

            </div>

        </div>
        <div class="card-title" style="text-align: center;"  *ngIf="user?.id==this.authService.decodedToken?.nameid"  >
        <form #asd="ngForm">
                <label for="image" >         
                    <div class="btn btn-primary btn-sm float-left" >
                        <i class="fas fa-edit"></i> 
                    </div>

                </label>
                    <input  style="display: none;" name="image" id="image" class="das" type="file" (change)="onFilesSelected($event)" >
     
        </form>
    </div>
</div>
</div>
</div>
     
  </div>